body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: backgroundAnimation 12s infinite;
  height: 65vh; /* Set a fixed height for the body, 100vh means 100% of the viewport height */
  margin: 0; /* Remove default body margin */
}

@keyframes backgroundAnimation {
  0% {
    background-image: url("pictures/cruise-view.jpg");
  }
  25% {
    background-image: url("pictures/sunset.jpg");
  }
  50% {
    background-image: url("pictures/beach4.jpg");
  }
  75% {
    background-image: url("pictures/beach3.jpg");
  }
  100% {
    background-image: url("pictures/beach2.jpg");
  }
  125% {
    background-image: url("pictures/collosuem.jpg"); /* Reverse order back to the start */
  }
  150% {
    background-image: url("pictures/beach1.jpg");
  }
  175% {
    background-image: url("pictures/sunset.jpg");
  }
  200% {
    background-image: url("pictures/cruise-view.jpg");
  }
}

/*Navigation Bar*/
.horizontal-nav {
  margin-top: 30px;
  margin-left: 300px; /* Adjust the left margin to position it */
  align-items: center;
  width: 880px;
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  font-weight: 500;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.horizontal-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.horizontal-nav li {
  padding: 14px 16px;
}

.horizontal-nav li a {
  text-decoration: none;
  color: #ffffff;
}

.horizontal-nav li a:hover {
  color: #040404;
}

.horizontal-nav button {
  border: 2px solid white;
  background: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  height: 40px;
  width: 95px;
  border-radius: 15px;
}

.horizontal-nav button:hover {
  color: #000000;
}
/*Booking Form*/
.booking-form {
  top: 155%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 1080px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  border-radius: 52px;
  background-color: rgba(229, 207, 78, 1);;
  box-shadow: -13px -13px 37px #373737, 13px 13px 37px #575757;
}

.booking-form h2 {
  color: white;
  margin-top: 50px;
}

.booking-form input {
  margin-bottom: 20px;
}

.booking-form label {
  margin-bottom: 20px;
  color: white;
}

.bookButton {
  position: absolute;
  appearance: none;
  background-color: transparent;
  border: 0.11em solid #000000;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  height: 50px;
  width: 180px;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  top: 35%;
  left: 37%;
  margin-left: 60px;
  margin-top: 120px;
  background: rgba(255, 255, 255, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.36);
}

.bookButton:disabled {
  pointer-events: none;
}

.bookButton:hover {
  color: #fff;
  background-color: rgb(9, 54, 200);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.bookButton :active {
  box-shadow: none;
  transform: translateY(0);
}

.ship-svg{
  position: absolute;
  top: 50%;
  left: -10%;
}

/* New*/

.title {
  font-size: 3em;
  line-height: 1.2;
  text-align: center;
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  color: white;
  margin-bottom: 50px;
}
/*Select 1*/
.select1 {
  position: absolute;
  top: 35%;
  right: 74%;
  margin-bottom: 25px;
  width: 250px;
}
.select1 select {
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 14px 30px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 34px;
  background: #e6e6e6;
  color: #020202;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select1 select::-ms-expand {
  display: none;
}
.select1 select:hover,
.select1 select:focus {
  color: #000000;
  background: #ffffff;
}
.select1 select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select1_arrow {
  position: absolute;
  top: 17px;
  right: 24px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #000000 transparent transparent transparent;
}
.select1 select:hover ~ .select1_arrow,
.select1 select:focus ~ .select1_arrow {
  border-top-color: #000000;
}
.select1 select:disabled ~ .select1_arrow {
  border-top-color: #000000;
}

/*Select 2*/
.select2 {
  position: absolute;
  top: 35%;
  right: 50%;
  margin-bottom: 25px;
  width: 250px;
}
.select2 select {
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 14px 30px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 34px;
  background: #e6e6e6;
  color: #020202;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select2 select::-ms-expand {
  display: none;
}
.select2 select:hover,
.select2 select:focus {
  color: #000000;
  background: #ffffff;
}
.select2 select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select2_arrow {
  position: absolute;
  top: 17px;
  right: 24px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #000000 transparent transparent transparent;
}
.select2 select:hover ~ .select2_arrow,
.select2 select:focus ~ .select2_arrow {
  border-top-color: #000000;
}
.select2 select:disabled ~ .select2_arrow {
  border-top-color: #000000;
}

/*Select 3*/
.select3 {
  position: absolute;
  top: 35%;
  left: 51.1%;
  margin-bottom: 25px;
  width: 250px;
}
.select3 select {
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 14px 30px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 34px;
  background: #e6e6e6;
  color: #020202;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select3 select::-ms-expand {
  display: none;
}
.select3 select:hover,
.select3 select:focus {
  color: #000000;
  background: #ffffff;
}
.select3 select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select3_arrow {
  position: absolute;
  top: 17px;
  right: 24px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #000000 transparent transparent transparent;
}
.select3 select:hover ~ .select3_arrow,
.select3 select:focus ~ .select3_arrow {
  border-top-color: #000000;
}
.select3 select:disabled ~ .select3 _arrow {
  border-top-color: #000000;
}

/*Select 4*/
.select4 {
  position: absolute;
  top: 35%;
  left: 75%;
  margin-bottom: 25px;
  width: 250px;
}
.select4 select {
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 14px 30px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 34px;
  background: #e6e6e6;
  color: #020202;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select4 select::-ms-expand {
  display: none;
}
.select4 select:hover,
.select4 select:focus {
  color: #000000;
  background: #ffffff;
}
.select4 select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select4_arrow {
  position: absolute;
  top: 17px;
  right: 24px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #000000 transparent transparent transparent;
}
.select4 select:hover ~ .select4_arrow,
.select4 select:focus ~ .select4_arrow {
  border-top-color: #000000;
}
.select4 select:disabled ~ .select4_arrow {
  border-top-color: #000000;
}

.info-container {
  position: absolute;
  top: 155%;
  display: flex;
  align-items: center;
  font-family: "Dosis", "Arial", "Helvetica", sans-serif;;
}

.info-container img {
  margin-right: 1px; /* Adjust the margin as needed */
}

.info-container p {
  margin: 0;
}

.info1{
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: -75%;
  left: 20%;
  color: #295196;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

/*Breakkkkkkkkk*/
.container {
  display: flex;
  background-color: white;
  width: 1480px;
  height: 1200px;
  margin-top: 300px;
}

/*Background sa form*/
.pic-container {
  position: relative;
  margin-top: 600px;
  background-color: white;
  width: 1481px;
  height: 1000px;
  /*background-color: rgba(229, 207, 78, 1);*/
}

.pic-container p {
  color: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  position: absolute;
  font-size: 42px;
  left: 10%;
  top: 5%;
}

footer {
  color: #000000;
  text-align: center;
  background-color: #295196;
  padding: 20px; /* Adjust padding as needed */
}

footer p {
  text-align: center;
 color: white;
  padding: 5px; /* Adjust padding as needed */
}

footer hr {
  border: 1px solid #ffffff; /* Set the color of the line */
  margin: 1px 0; /* Adjust the top and bottom margin as needed */
}
