body {
  background: rgb(89, 167, 249);
  background: -moz-linear-gradient(
    0deg,
    rgba(89, 167, 249, 1) 0%,
    rgba(229, 207, 78, 1) 11%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(89, 167, 249, 1) 0%,
    rgba(229, 207, 78, 1) 15%
  );
  background: linear-gradient(
    0deg,
    rgba(89, 167, 249, 1) 0%,
    rgba(229, 207, 78, 1) 16%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#59a7f9",endColorstr="#e5cf4e",GradientType=1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 715px;
  margin: 0;
}

.form {
  position: absolute;
  top: 15%;
  left: 37%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 490px;
  width: 300px;
  height: 400px;
  padding: 40px;
  border-radius: 20px;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 06px 10px 5px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  box-sizing: border-box; 
  margin-bottom: 20px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}


.submit {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.ship {
  position: absolute;
  left: 81%;
  top: 72%;
  width: 280px;
}
.absolute-image {
  position: absolute;
  top: 250px; /* Adjust the top position based on your design */
  left: 8%; /* Position the image horizontally at the center */
  transform: translateX(-50%); /* Center the image horizontally */
}